body {
  background-color: rgb(17, 15, 15);
  font-size: 45px;
}
.content {
  background-color: #48c1c3;
  width: 50%;
  height: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 15%;
}
.content h1 {
  text-align: center;
  font-size: 2em;
  color: #ffff;
}
.add {
  width: 320px;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 35px;
  font-size: 1.5rem;
  background-color: #ee2a7d;
}
.add:active {
  box-shadow: 2px 2px 5px #f03382;
}
.book-menu {
  background-color: #d4c4b0;
  width: 30%;
  height: 50%;
}
