body {
  background-color: rgb(17, 15, 15);
  font-size: 35px;
  height: 100vh;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  background-color: #48c1c3;
  text-align: center;
  width: 40%;
  height: 200px;
}
.content h1 {
  text-align: center;
  font-size: 2em;
  color: #ffff;
}
.add {
  margin-top: 6%;
  width: 320px;
  height: 80px;
  text-align: center;
  margin-bottom: 35px;
  font-size: 1.3rem;
  background-color: #ee2a7d;
}
.add:active {
  box-shadow: 2px 2px 5px #f03382;
}
.book-menu {
  display: flex;
  display: none;

  align-items: center;
  justify-content: center;
  background-color: #d4c4b0;
  width: 30%;
  height: 300px;
}
.book-menu label {
  margin-top: 40px;
  font-size: 30px;
  margin-right: 5px;
}
input {
  text-align: center;
}
.bookList {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(130px, 270px));
  gap: 15px;
  width: 60%;
  max-height: 650px;
  background-color: red;
  margin: 20px;
  overflow-y: scroll;
}
.Book {
  background-color: white;
  margin: 8px;
  min-height: 200px;
}
